/*Colores*/
$primary-color: #d4bb9b;
$secondary-color: #f5f5dc;
$tertiary-color: #deb887;
$border-color: #800000;
$button: #4e2a1e;
$warning-buttom: #a52a2a;
$flow: #8a2be2;
$warning-flow: #a84dff;
$soft-flow: #9370db;
$soft-flow-v2: #7b68ee;

/*Tamaños de fuente*/
$xxs: 20px;
$xs: 22px;
$s: 24px;
$s-v2: 26px;
$m: 30px;
$l: 32px;
$xl: 34px;
$xxl: 38px;
$xxxl: 40px;

/*Velocidades*/
$fast: 0.1s;
$normal: 0.2s;