@keyframes rotatebg {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
body {
    transition: $normal;
    font-family: "Open Sans", serif;
    font-size: $xs;
    background-image: linear-gradient(to left, $primary-color, $secondary-color);
    background-size: 200% 200%;
    animation: rotatebg 5s ease-out infinite;
}
main {
    margin: 34px 16px;
}
h1, h2, h3 {
    transition: $normal;
    text-align: center;
    color: $flow;
    font-size: $xl;
    margin: 10px;
    margin-bottom: 32px;
}
h2 {
    color: $soft-flow;
    font-size: $l;
}
h3 {
    color: $soft-flow-v2;
    font-size: $m;
}