footer {
    padding: 14px;
    padding-top: 38px;
    background-color: $tertiary-color;
    border-top: solid $border-color 4px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-area: "cont imgfinal";
}
.cont p {
    margin: 14px;
}
.redes {
    display: flex;
    gap: 18px;
    img {
        transition: $fast;
        width: 50px;
        border-radius: 26%;
        &:hover {
            transform: scale(1.1);
        }
    }
    li {
        list-style: none;
    }
}
.imgfinal {
    align-content: end;
    img {
        width: 120px;
        border-radius: 22%;
    }
}